:root {
  --font-family: "Silkscreen", sans-serif;
  --background-color: rgba(0, 19, 34);
  --primary-color: rgba(246, 192, 81);
  --border-color: rgba(62, 83, 97);
  --secondary-color: rgba(254, 246, 230);
}
